@font-face {font-family: "flaticon";src: url("./flaticon.ttf?bfbb5becf4cba6c4e0dd52e574bb002b") format("truetype"),url("./flaticon.woff?bfbb5becf4cba6c4e0dd52e574bb002b") format("woff"),url("./flaticon.woff2?bfbb5becf4cba6c4e0dd52e574bb002b") format("woff2"),url("./flaticon.eot?bfbb5becf4cba6c4e0dd52e574bb002b#iefix") format("embedded-opentype"),url("./flaticon.svg?bfbb5becf4cba6c4e0dd52e574bb002b#flaticon") format("svg");}
i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {font-family: flaticon !important;font-style: normal;font-weight: normal !important;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.flaticon-internet:before {content: "";}
.flaticon-worldwide:before {content: "";}
.flaticon-international:before {content: "";}
.flaticon-login:before {content: "";}
.flaticon-import:before {content: "";}
.flaticon-lock:before {content: "";}
.flaticon-padlock:before {content: "";}
.flaticon-edit:before {content: "";}
.flaticon-search:before {content: "";}
.flaticon-duel:before {content: "";}
.flaticon-swords-in-cross-arrangement:before {content: "";}
.flaticon-crossed-swords:before {content: "";}
.flaticon-right-arrow:before {content: "";}
.flaticon-facebook:before {content: "";}
.flaticon-twitter:before {content: "";}
.flaticon-instagram:before {content: "";}
.flaticon-youtube:before {content: "";}
.flaticon-discord:before {content: "";}
.flaticon-twitch:before {content: "";}
.flaticon-right-arrow-1:before {content: "";}
.flaticon-right-arrow-2:before {content: "";}
.flaticon-magnifying-glass:before {content: "";}
.flaticon-swords:before {content: "";}
.flaticon-swords-1:before {content: "";}
.flaticon-chess:before {content: "";}
.flaticon-invoice:before {content: "";}
.flaticon-withdrawal:before {content: "";}
.flaticon-web:before {content: "";}
.flaticon-add-user:before {content: "";}
.flaticon-checked:before {content: "";}
.flaticon-message:before {content: "";}
.flaticon-nft:before {content: "";}
.flaticon-wallet:before {content: "";}
.flaticon-wallet-1:before {content: "";}
.flaticon-paper-plane:before {content: "";}
.flaticon-send:before {content: "";}
.flaticon-loupe:before {content: "";}
.flaticon-search-1:before {content: "";}
.flaticon-play:before {content: "";}
.flaticon-right-arrow-3:before {content: "";}
.flaticon-next:before {content: "";}
.flaticon-diamond:before {content: "";}
.flaticon-ethereum:before {content: "";}
.flaticon-star:before {content: "";}
.flaticon-settings:before {content: "";}
.flaticon-settings-1:before {content: "";}
.flaticon-guru:before {content: "";}
.flaticon-best-employee:before {content: "";}
.flaticon-user-profile:before {content: "";}
.flaticon-quote:before {content: "";}
.flaticon-circle:before {content: "";}
.flaticon-repeat:before {content: "";}
.flaticon-repeat-2:before {content: "";}
.flaticon-quotation:before {content: "";}
.flaticon-quote-1:before {content: "";}
.flaticon-play-1:before {content: "";}
.flaticon-play-button:before {content: "";}