@font-face {font-family: "fontello";src: url("../font/fontello.eot?80080442");src: url("../font/fontello.eot?80080442#iefix") format("embedded-opentype"),url("../font/fontello.woff2?80080442") format("woff2"),url("../font/fontello.woff?80080442") format("woff"),url("../font/fontello.ttf?80080442") format("truetype"),url("../font/fontello.svg?80080442#fontello") format("svg");font-weight: normal;font-style: normal;font-display: swap;}
[class^="icon-"]:before, [class*=" icon-"]:before {font-family: "fontello";font-display: swap;font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;width: 1em;margin-right: .2em;text-align: center;font-variant: normal;text-transform: none;line-height: 1em;margin-left: .2em;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-location:before {content: "";}
.icon-calendar:before {content: "";}
.icon-user:before {content: "";}
.icon-noun_door_2593377:before {content: "";}
.icon-noun_category_2426193:before {content: "";}
.icon-noun_bed_451739:before {content: "";}
.icon-noun_bed_2599773:before {content: "";}
.icon-noun_home_2600449:before {content: "";}
.icon-noun_lock_308646:before {content: "";}
.icon-noun_plus_2048207:before {content: "";}
.icon-noun_bath_1828222-(1):before {content: "";}
.icon-noun_room_2437037:before {content: "";}
.icon-noun_user_2652089:before {content: "";}
.icon-noun_home_872955:before {content: "";}
.icon-noun_home_671841:before {content: "";}
.icon-noun_bed_215937:before {content: "";}
.icon-left-open-big:before {content: "";}
.icon-right-open-big:before {content: "";}
.icon-up-open-big:before {content: "";}
.icon-down-open-big:before {content: "";}