@font-face {font-family: "Flaticon";src: url("../fonts/flaticon.eot");src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),url("../fonts/flaticon.woff2") format("woff2"),url("../fonts/flaticon.woff") format("woff"),url("../fonts/flaticon.ttf") format("truetype"),url("../fonts/flaticon.svg#Flaticon") format("svg");font-weight: normal;font-style: normal;}
@media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: "Flaticon";src: url("../fonts/flaticon.svg#Flaticon") format("svg");}}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {font-family: flaticon !important;font-style: normal;font-weight: normal !important;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.flaticon-loupe:before {content: "";}
.flaticon-menu:before {content: "";}
.flaticon-down-filled-triangular-arrow:before {content: "";}
.flaticon-next:before {content: "";}
.flaticon-left-arrow:before {content: "";}
.flaticon-right:before {content: "";}
.flaticon-right-arrow-1:before {content: "";}
.flaticon-right-up:before {content: "";}
.flaticon-left:before {content: "";}
.flaticon-security:before {content: "";}
.flaticon-badge:before {content: "";}
.flaticon-review:before {content: "";}
.flaticon-rocket:before {content: "";}
.flaticon-button:before {content: "";}
.flaticon-developer:before {content: "";}
.flaticon-web-design:before {content: "";}
.flaticon-cv:before {content: "";}
.flaticon-secure:before {content: "";}
.flaticon-customer-service:before {content: "";}
.flaticon-money:before {content: "";}
.flaticon-tick:before {content: "";}
.flaticon-web-design-1:before {content: "";}
.flaticon-digital-marketing:before {content: "";}
.flaticon-translator:before {content: "";}
.flaticon-microphone:before {content: "";}
.flaticon-video-file:before {content: "";}
.flaticon-ruler:before {content: "";}
.flaticon-goal:before {content: "";}
.flaticon-star:before {content: "";}
.flaticon-working:before {content: "";}
.flaticon-star-2:before {content: "";}
.flaticon-file:before {content: "";}
.flaticon-rocket-1:before {content: "";}
.flaticon-share:before {content: "";}
.flaticon-website:before {content: "";}
.flaticon-file-1:before {content: "";}
.flaticon-calendar:before {content: "";}
.flaticon-tracking:before {content: "";}
.flaticon-sand-clock:before {content: "";}
.flaticon-recycle:before {content: "";}
.flaticon-place:before {content: "";}
.flaticon-30-days:before {content: "";}
.flaticon-target:before {content: "";}
.flaticon-fifteen:before {content: "";}
.flaticon-mars:before {content: "";}
.flaticon-sliders:before {content: "";}
.flaticon-pay-day:before {content: "";}
.flaticon-notification:before {content: "";}
.flaticon-mail:before {content: "";}
.flaticon-home:before {content: "";}
.flaticon-photo:before {content: "";}
.flaticon-logout:before {content: "";}
.flaticon-delete:before {content: "";}
.flaticon-share-1:before {content: "";}
.flaticon-send:before {content: "";}
.flaticon-refresh:before {content: "";}
.flaticon-add:before {content: "";}
.flaticon-notification-1:before {content: "";}
.flaticon-images:before {content: "";}
.flaticon-briefcase:before {content: "";}
.flaticon-presentation:before {content: "";}
.flaticon-content:before {content: "";}
.flaticon-search:before {content: "";}
.flaticon-document:before {content: "";}
.flaticon-chat:before {content: "";}
.flaticon-receipt:before {content: "";}
.flaticon-dollar:before {content: "";}
.flaticon-web:before {content: "";}
.flaticon-like:before {content: "";}
.flaticon-contract:before {content: "";}
.flaticon-success:before {content: "";}
.flaticon-sandclock:before {content: "";}
.flaticon-review-1:before {content: "";}
.flaticon-like-1:before {content: "";}
.flaticon-page:before {content: "";}
.flaticon-call:before {content: "";}
.flaticon-factory:before {content: "";}
.flaticon-category:before {content: "";}
.flaticon-pencil:before {content: "";}
.flaticon-flag:before {content: "";}
.flaticon-income:before {content: "";}
.flaticon-withdraw:before {content: "";}
.flaticon-price-tag:before {content: "";}
.flaticon-rocket-2:before {content: "";}
.flaticon-search-1:before {content: "";}
.flaticon-wallet:before {content: "";}
.flaticon-antivirus:before {content: "";}
.flaticon-web-development:before {content: "";}
.flaticon-mobile:before {content: "";}
.flaticon-question:before {content: "";}
.flaticon-house:before {content: "";}
.flaticon-home-1:before {content: "";}
.rtl .btn-view .flaticon-right-arrow-1:before {content: "";}