.elementor-9816 .elementor-element.elementor-element-84f0b3b {--display: flex;--flex-direction: column;--container-widget-width: 100%;--container-widget-height: initial;--container-widget-flex-grow: 0;--container-widget-align-self: initial;--flex-wrap-mobile: wrap;}
.elementor-9816 .elementor-element.elementor-element-ad05dd1 {--spacer-size: 68px;}
.elementor-9816 .elementor-element.elementor-element-d2d4516 {--display: flex;}
.elementor-9816 .elementor-element.elementor-element-27f0936 {text-align: center;}
.elementor-9816 .elementor-element.elementor-element-aed54b0 {text-align: center;}
.elementor-9816 .elementor-element.elementor-element-aed54b0 .elementor-heading-title {font-weight: 400;font-style: normal;}
.elementor-9816 .elementor-element.elementor-element-c46508f {--spacer-size: 68px;}
.elementor-9816 .elementor-element.elementor-element-409dbfb {--display: flex;}