.elementor-55 .elementor-element.elementor-element-c046381>.elementor-container {max-width: 1073px;}
.elementor-55 .elementor-element.elementor-element-c046381 {margin-top: 80px;margin-bottom: 0;}
.elementor-55 .elementor-element.elementor-element-3ca3a21>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 10px;}
.elementor-55 .elementor-element.elementor-element-2f0b6d8 {text-align: center;}
.elementor-55 .elementor-element.elementor-element-2f0b6d8 .elementor-heading-title {font-size: 32px;}
.elementor-55 .elementor-element.elementor-element-bbad914>.elementor-widget-container {margin: 0 0 0 0;}
.elementor-55 .elementor-element.elementor-element-bbad914 {column-gap: 0;text-align: justify;color: #222;}
.elementor-55 .elementor-element.elementor-element-cbd9b0b>.elementor-container {max-width: 1050px;}
.elementor-55 .elementor-element.elementor-element-cbd9b0b {margin-top: 30px;margin-bottom: 0;}
.elementor-55 .elementor-element.elementor-element-69a5ff3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 25px;}
.elementor-55 .elementor-element.elementor-element-c6407ff .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-aaa8b21 {color: #222;}
.elementor-55 .elementor-element.elementor-element-e892cf2 .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-fe7ffcc {color: #000;}
.elementor-55 .elementor-element.elementor-element-03afd42 .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-6d91dc9 {column-gap: 0;color: #222;}
.elementor-55 .elementor-element.elementor-element-c8bae6a .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-f972552 {column-gap: 0;color: #222;}
.elementor-55 .elementor-element.elementor-element-07b053e .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-7619440 {column-gap: 0;color: #222;}
.elementor-55 .elementor-element.elementor-element-344083f .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-8d7aab1 {column-gap: 0;color: #222;}
.elementor-55 .elementor-element.elementor-element-a3f0a7e .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-95cf4e8 {column-gap: 0;color: #222;}
.elementor-55 .elementor-element.elementor-element-86deb05 .elementor-heading-title {font-size: 20px;font-weight: 500;}
.elementor-55 .elementor-element.elementor-element-db1a376 {column-gap: 0;color: #222;}
@media (min-width:478px) {.elementor-55 .elementor-element.elementor-element-3ca3a21 {width: 100%;}}
@media (max-width:1024px) {.elementor-55 .elementor-element.elementor-element-c046381 {margin-top: 30px;margin-bottom: 0;}
	.elementor-55 .elementor-element.elementor-element-2f0b6d8 .elementor-heading-title {font-size: 25px;}
	.elementor-55 .elementor-element.elementor-element-cbd9b0b {margin-top: 15px;margin-bottom: 0;}
	.elementor-55 .elementor-element.elementor-element-69a5ff3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 20px;}}