.elementor-9736 .elementor-element.elementor-element-a40265d {--display: flex;--min-height: 774px;--flex-direction: column;--container-widget-width: 100%;--container-widget-height: initial;--container-widget-flex-grow: 0;--container-widget-align-self: initial;--flex-wrap-mobile: wrap;}
.elementor-9736 .elementor-element.elementor-element-b585865 {text-align: center;}
.elementor-9736 .elementor-element.elementor-element-0898216 {text-align: center;}
.elementor-9736 .elementor-element.elementor-element-0898216 .elementor-heading-title {-webkit-text-stroke-color: #000;stroke: #000;}
.elementor-9736 .elementor-element.elementor-element-9715ed0 {columns: 4;column-gap: 100px;text-align: left;}
.elementor-9736 .elementor-element.elementor-element-9715ed0 .elementor-drop-cap {margin-inline-end: 10px;}
.elementor-9736 .elementor-element.elementor-element-ba16b1c {--display: flex;}
.elementor-9736 .elementor-element.elementor-element-3952d56 {text-align: center;}
.elementor-9736 .elementor-element.elementor-element-8290480 {text-align: center;}
.elementor-9736 .elementor-element.elementor-element-8290480 .elementor-heading-title {-webkit-text-stroke-color: #000;stroke: #000;}
.elementor-9736 .elementor-element.elementor-element-c194425>.elementor-widget-container {margin: 0 0 0 0;padding: 0 0 0 0;}
.elementor-9736 .elementor-element.elementor-element-c194425 {columns: 4;column-gap: 99px;text-align: left;}
@media (max-width:1024px) {.elementor-9736 .elementor-element.elementor-element-9715ed0 {columns: 2;column-gap: 0;}
	.elementor-9736 .elementor-element.elementor-element-c194425 {columns: 2;column-gap: 22px;}}
@media (max-width:477px) {.elementor-9736 .elementor-element.elementor-element-9715ed0 {column-gap: 29px;}
	.elementor-9736 .elementor-element.elementor-element-c194425 {columns: 2;column-gap: 0;}}