.elementor-kit-8289 {--e-global-color-primary: #fff;--e-global-color-secondary: #000;--e-global-color-text: #7a7a7a;--e-global-color-accent: #000;--e-global-typography-primary-font-family: "Roboto";--e-global-typography-primary-font-weight: 600;--e-global-typography-secondary-font-family: "Roboto Slab";--e-global-typography-secondary-font-weight: 400;--e-global-typography-text-font-family: "Roboto";--e-global-typography-text-font-weight: 400;--e-global-typography-accent-font-family: "Roboto";--e-global-typography-accent-font-weight: 500;}
.elementor-section.elementor-section-boxed > .elementor-container {max-width: 1430px;}
.e-con {--container-max-width: 1430px;}
.elementor-widget:not(:last-child) {margin-block-end: 20px;}
.elementor-element {--widgets-spacing: 20px 20px;--widgets-spacing-row: 20px;--widgets-spacing-column: 20px;}
 {}
h1.entry-title {display: var(--page-title-display);}
@media (max-width:1024px) {.elementor-section.elementor-section-boxed > .elementor-container {max-width: 1024px;}
	.e-con {--container-max-width: 1024px;}}
@media (max-width:477px) {.elementor-section.elementor-section-boxed > .elementor-container {max-width: 767px;}
	.e-con {--container-max-width: 767px;}}